<!DOCTYPE html>
<html lang="en">
<head>
<title>dimension.sh</title>
<meta charset="utf-8"/>
<link rel="stylesheet" href="/css/site.css">
<link id="theme" rel="stylesheet" href="/css/palenight.css">
<link rel="stylesheet" href="https://use.typekit.net/njb8bgs.css">
<script src="/js/theme.js"></script>
</head>
<body>
<div id="main">
<div id="logo">
<pre id="logo">
  __                                                                          __
 /\ \  __                                     __                             /\ \
 \_\ \/\_\    ___ ___      __    ___     ____/\_\    ___     ___         ____\ \ \___
 /'_` \/\ \ /' __` __`\  /'__`\/' _ `\  /',__\/\ \  / __`\ /' _ `\      /',__\\ \  _ `\
/\ \L\ \ \ \/\ \/\ \/\ \/\  __//\ \/\ \/\__, `\ \ \/\ \L\ \/\ \/\ \  __/\__, `\\ \ \ \ \
\ \___,_\ \_\ \_\ \_\ \_\ \____\ \_\ \_\/\____/\ \_\ \____/\ \_\ \_\/\_\/\____/ \ \_\ \_\
 \/__,_ /\/_/\/_/\/_/\/_/\/____/\/_/\/_/\/___/  \/_/\/___/  \/_/\/_/\/_/\/___/   \/_/\/_/
</pre>
</div>
<div class="bar" id="header">
<a href="/index.html">HOME</a> | <a href="/history.html">HISTORY</a> | <a href="/users.html">USERS</a> | <a href="/cgi/wiki.cgi">WIKI</a> | <a href="/donate.html">DONATE</a> | </a><a href="/join.html">JOIN</a> | ONLINE: 1
</div>

<div id="body">
{{ html }}
</div>

<div class="bar" id="footer">
<small>
  Themes: <a href="#" onclick="change_theme('greenscreen');">GS</a> <a href="#" onclick="change_theme('palenight');">PN</a> <a href="#" onclick="change_theme('dracula');">DC</a> <a href="#" onclick="change_theme('nord');">ND</a>
</small>
</div>
  </div>
</body>
</html>