html, body, tr, td {
    background-color: #0C0C0C;
    color: #CCCCCC;
}

b, strong, a, a:link, a:visited, a:active, h3 {
    color: #F2F2F2;
}

div#logo pre {
    color: #F2F2F2;
    text-shadow: 0 0 5px white;
}

a:hover {
    color: #F9F1A5;
}

hr, div.bar {
    background: #767676;
    color: #0C0C0C;
    box-shadow: 2px 2px #3f435a;
}

h1, h2, h3, h4, h5, th, label {
    text-shadow: 2px 2px #616161;
}

input, textarea {
    background-color: #0C0C0C;
    color: #CCCCCC;
    border: 1px solid #767676;
}

table, div#body pre {
    border: 1px solid #767676;
}