:root {
    --base00: #2E3440;
    --base01: #3B4252;
    --base02: #434C5E;
    --base03: #4C566A;
    --base04: #D8DEE9;
    --base05: #E5E9F0;
    --base06: #ECEFF4;
    --base07: #8FBCBB;
    --base08: #88C0D0;
    --base09: #81A1C1;
    --base0A: #5E81AC;
    --base0B: #BF616A;
    --base0C: #D08770;
    --base0D: #EBCB8B;
    --base0E: #A3BE8C;
    --base0F: #B48EAD;
}

html, body, tr, td {
    background-color: var(--base00);
    color: var(--base05);
}

b, strong, a, a:link, a:visited, a:active, h1, h2, h3, h4, h5, label {
    color: var(--base07);
}

div#logo pre {
    color: var(--base05);
    text-shadow: 0 0 20px var(--base03), 0 0 30px var(--base03), 0 0 40px var(--base03), 0 0 55px var(--base03), 0 0 75px var(--base03);
}

a:hover {
    color: var(--base05);
}

hr, div.bar {
    background: var(--base02);
    color: var(--base05);
    box-shadow: 2px 2px var(--base01);
}

h1, h2, h3, h4, h5, th, label {
    text-shadow: 2px 2px var(--base02);
}

input, textarea {
    background-color: var(--base00);
    color: var(--base05);
    border: 1px solid var(--base03);
}

table, div#body pre  {
    border: 1px solid var(--base03);
}